<link href="/static/css/update.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="pic">
        <img src="/static/image/update.jpg" width="700px">
    </div>
    <div class="write">
        <form name="loginform" id="loginform" method="post">
            <table cellspacing="1" cellpadding="2"
                style="min-height: 50vh;font-size: 20px; color:orange; font-style:oblique;">
                <tr>
                    <td>
                        <label>Pickup:</label>
                    </td>
                    <td>
                        <input type="text" name="pickup" placeholder="Enter Pickup Location" maxlength="10" required
                            style="padding:7px 40px; ">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Destination:</label>
                    </td>
                    <td>
                        <input type="text" name="destination" placeholder="Enter Destination" maxlength="10" required
                            style="padding:7px 40px; ">
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Amount:</label>
                    </td>
                    <td>
                        <input type="number" name="amount" placeholder="Enter Amount" maxlength="10" required
                            style="padding:7px 40px; ">
                    </td>
                </tr>

                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary shadow" id="btn-login"
                            style="width: 300%; height: 7vh; font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color:orange; border:none; ">Update
                            Route</button>
                    </td>

                </tr>
            </table>
        </form>
    </div>
</div>