<div class="container-fluid" style="min-height: 80vh;">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <form name="loginform" id="loginform"  method="post">
                        <div style="font-size: 40px; color: white;">
                            <label>Pickup:</label>
                            <input type="text" name="pickup" class="form-control" list="default"
                                placeholder="Enter Pickup Location" maxlength="10" required style="padding:7px 40px; ">
                            <datalist id="default">
                                <option value="Ernakulam"></option>
                                <option value="Kakkanad"></option>
                                <option value="Infopark"></option>
                                <option value="Vazhakkala"></option>
                            </datalist>
                        </div>
                        </br>
                        <div style="font-size: 40px;color: white;">
                            <label>Destination:</label>
                            <input type="text" name="destination" list="default1" placeholder="Enter Destination"
                                class="form-control" maxlength="10" required style="padding:7px 40px; ">
                            <datalist id="default1">
                                <option value="Ernakulam"></option>
                                <option value="Kakkanad"></option>
                                <option value="Infopark"></option>
                                <option value="Vazhakkala"></option>
                            </datalist>
                        </div>
                        </br>
                        <div style="font-size: 40px; color: white;">
                            <label>Date of Journey:</label>
                            <input type="date" name="date" class="form-control" required style="padding:7px 50px; ">
                        </div>
                        </br>
                        <div style="font-size: 40px; color: white;">
                            <label>Time of Travel:</label>
                            <input type="time" name="time" class="form-control" required style="padding:7px 50px; ">
                        </div>
                        </br>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary shadow" id="btn-login"
                                style="width: 100%; height: 7vh; font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Search
                                Cab</button>
                        </div>
                        </br>
                    </form>
                </div>
            </div>
        </div>