<link href="static/css/examp.css" rel="stylesheet" type="text/css" />
<link href="static/css/log.css" rel="stylesheet" type="text/css" />
<link href="static/css/examp.scss" rel="stylesheet" type="text/scss" />

<div class="div-border">
    <img src="static/image/logo.png" width="85px">
</div>

{{>navbar}}

<div class="write">
    <center>
        <p style="color:white;">
            WE will take you
        </p>
        <p style="color:rgb(253, 171, 19);"><b><i>
                    WHEREVER YOU NEED
                </i></b></p>

        <a href='/booking'>
            <button class="but">
                BOOK NOW
            </button>
        </a>

    </center>
</div>