<link href="static/css/mycab.css" rel="stylesheet" type="text/css" />
<center>
    <div class="container">
        <video loop control autoplay muted>

            <source src="/static/image/last.mp4" type="video/mp4">
            <source src="/static/image/last.mp4" type="video/ogg">

        </video>
        <form name="loginform" id="loginform" method="post">
            <table cellspacing="1" cellpadding="2" style="min-height: 50vh;font-size: 20px; color:green;">
                <tr>
                    <td>
                        <label>Cab Type:</label>
                    </td>
                    <td>
                        <select name="cabtype" id="option"
                            style="width: 200px; height: 30px; border:none; border-radius:100px; text-align:center">
                            <option selected disabled>Choose here</option>
                            <option value="debit">GoSedan</option>
                            <option value="credit">Auto</option>
                            <option value="net">Premium</option>
                            <option value="upi">cabXL</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Cab Model:</label>
                    </td>
                    <td>
                        <input type="text" name="cabmodel" placeholder="Enter Cab Model" maxlength="10" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Registration Number:</label>
                    </td>
                    <td>
                        <input type="text" name="regnum" list="default1" placeholder="Enter Registration Number"
                            maxlength="30" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>License Plate Number:</label>
                    </td>
                    <td>
                        <input type="text" name="lnum" list="default1" placeholder="Enter License Plate Number"
                            maxlength="30" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Driving License Number:</label>
                    </td>
                    <td>
                        <input type="text" name="dlnum" list="default1" placeholder="Enter Driver License Number"
                            maxlength="30" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary shadow" id="btn-login"
                            style="width: 210%; height: 6vh; font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ">Submit
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</center>