<link href="/static/css/cab.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="vid">
        <video width="1000" height="450" loop control autoplay muted>

            <source src="static/image/confirm.mp4" type="video/mp4">
            <source src="static/image/confirm.mp4" type="video/ogg">

        </video>
    </div>

    <div class="tab">
        <table style="width: 500px; height:70px">
            <tr>
                <td>
                    <img src="static/image/cab3s.png" width="120px">
                </td>
                <td>
                    <p><b>GoSedan</b></p>
                    <p><i>Affordable rides</i></p>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="static/image/cab4a.png" width="120px">
                </td>
                <td>
                    <p><b>Auto</b></p>
                    <p><i>Cheap Rides</i></p>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="static/image/cab1m.png" width="120px">
                </td>
                <td>
                    <p><b>Premium</b></p>
                    <p><i>Comfortable, top-quality Ride</i></p>
                </td>
            </tr>

            <tr>
                <td>
                    <img src="static/image/cab2l.png" width="120px">
                </td>
                <td>
                    <p><b>cabXL</b></p>
                    <p><i>Affordable SUV rides</i></p>
                </td>
            </tr>
        </table>
    </div>
</div>