<link href="static/css/payment.css" rel="stylesheet" type="text/css" />

<div class="container">
    <center>
        <video width="900" height="350" loop control autoplay muted>
            <source src="static/image/payment.mp4" type="video/mp4">
            <source src="static/image/payment.mp4" type="video/ogg">
        </video>

        <h2>Select Payment Option:</h2>
        </br>
        <form action="/final" method="post">

            <select name="option" id="option" style="width: 300px; height: 40px; border:none; border-radius:100px; text-align:center">
                <option selected disabled>Choose here</option>
                <option value="debit">Debit Card</option>
                <option value="credit">Credit Card</option>
                <option value="net">Net Banking</option>
                <option value="upi">UPI</option>
            </select>
            </br></br>
            <input type="submit" value="Make Payment💳"
                style="width: 15%; height: 7vh; font-size: 18px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; border-radius: 30px; background-color:white; ">
        </form>
    </center>
</div>