<link href="static/css/reg.css" rel="stylesheet" type="text/css" />

<div class="container" style="padding-top: 25px;">

    <center>

        <video width="960" height="400" loop control autoplay muted>

            <source src="/static/image/loginnw.mp4" type="video/mp4">
            <source src="/static/image/loginnw.mp4" type="video/ogg">

        </video>

        <form method="post">

            <table cellspacing="2" cellpadding="3" width="650px"
                style="color: white; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:19px;">

                <tr>
                    <td>
                        <label for="role"
                            style=" font-size: 20px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Role</label>
                    </td>

                    <td>
                        <select id="role" name="role">
                            <option selected disabled>Choose here</option>
                            <option value="driver">Driver</option>
                            <option value="user">User</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="title">Title</label>
                    </td>

                    <td>
                        <select id="title" name="title">
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Ms.">Ms.</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="fullName">Full Name</label>
                    </td>

                    <td>
                        <input type="text" id="fullName" placeholder="Enter Full Name" name="fullName" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="username">Username</label>
                    </td>

                    <td>
                        <input type="text" id="username" placeholder="Enter Username" name="username" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="dob">Date of Birth</label>
                    </td>

                    <td>
                        <input type="date" id="dob" name="dob" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="phoneNumber">Phone Number</label>
                    </td>

                    <td>
                        <input type="number" id="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number"
                            maxlength="10" required />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="email">Email</label>
                    </td>

                    <td>
                        <input type="email" id="email" placeholder="Enter email address" name="email" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>

                    <td>
                        <input type="password" id="password" placeholder="Enter password" name="password" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label for="cpassword">Confirm Password</label>
                    </td>

                    <td>
                        <input type="password" id="cpassword" placeholder="Enter password" name="cpassword" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox" id="checkbox" />
                        <label for="checkbox"> I agree to the <a href="">Terms and Conditions</a> of the
                            website.</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" id="Register" name="Register" value="Register" />
                    </td>

                    <td>
                        <input type="Reset" id="Reset" name="Reset" value="Reset" />
                    </td>
                </tr>

            </table>
            <p style="color: red;">{{message}}</p>
        </form>
    </center>
</div>